.container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(36, 36, 157);
}
.container p{
    color: #fff;
    font-size: 2.2rem;
}
.container input{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 1rem;
    
}
.container input::-webkit-input-placeholder{
    font-size: 1rem;
}
.container .inputcontainer{
    position: relative;
}
.container .inputcontainer span{
    position: absolute;
    color: #fff;
    left: 10px;
    bottom: -30px;

}