.container{
    margin-top:60px ;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container img{
    width: 100px;
    height: 100px;
    background-color: #fff
}